<!-- The overlay -->
<div id="overlay" class="overlay">
  <!-- Overlay content -->
  <div class="overlay-content">
    <h1 class="text-white">
      <fa-icon class="ml-1" [icon]="faUserShield"></fa-icon>
    </h1>
    <br>
    <h1 class="text-white">Entschuldigung, Ihnen fehlt die Berechtigung für diese Applikation</h1>
    <br>
    <h3 class="text-white">Bei Fragen wenden Sie sich bitte an <a
        href="mailto:DL.KOB.IT.Informationsmanagement@koehlerpaper.com">IT Informationsmanagement</a></h3>
  </div>
</div>
<!-- Use any element to open/show the overlay navigation menu -->
